body {
    color: aliceblue;
    font-size: 1.5em;
    margin: 0%;
}

#background {
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background-overlay {
    z-index: -1;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

main {
    text-align: center;
}

#my-name{
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

.letters{
    animation: color-animation 0.4s linear infinite;
    
}
#hi-h {
    --color-3: #13fa26;
    --color-2: #48f356;
    --color-1: #04a314;
}

#hi-i {
    --color-2: #48f356;
    --color-1: #13fa26;
    --color-3: #04a314;
}

#im-i {
    --color-3: #13fa26;
    --color-1: #48f356;
    --color-2: #04a314;
}

#im-m{
    --color-1: #13fa26;
    --color-3: #48f356;
    --color-2: #04a314;
}
#apostrophe{
    --color-3: #13fa26;
    --color-1: #48f356;
    --color-2: #04a314;
}
#simone-s{
    --color-2: #13fa26;
    --color-1: #48f356;
    --color-3: #04a314;
}
#simone-i{
    --color-2: #13fa26;
    --color-3: #48f356;
    --color-1: #04a314;
}
#simone-m{
    --color-2: #13fa26;
    --color-3: #48f356;
    --color-1: #04a314;
}
#simone-o{
    --color-1: #13fa26;
    --color-3: #48f356;
    --color-2: #04a314;
}
#simone-n{
    --color-3: #13fa26;
    --color-2: #48f356;
    --color-1: #04a314;
}
#simone-e{
    --color-2: #13fa26;
    --color-1: #48f356;
    --color-3: #04a314;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }


