body {
    color: aliceblue;
    font-size: 1.5em;
    margin: 0%;
    /* Color Pallete */
    --dark: #04a314; 
    --medium: #13fa26; 
    --light: #48f356; 
    font-family: 'Orbitron', sans-serif;
}

#background {
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#background img{
    height: 100%;
    max-width: 180%;
    min-width: 100%;
}

#background-overlay {
    z-index: -1;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

main {
    text-align: center;
}

#my-name{
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

.letters{
    animation: color-animation 0.4s linear infinite;
    
}
/* Color Pallete */
.l-1 {
    --light: #13fa26;
    --medium: #48f356;
    --dark: #04a314;
}

.l-2 {
    --medium: #48f356;
    --dark: #13fa26;
    --light: #04a314;
}

.l-3 {
    --light: #13fa26;
    --dark: #48f356;
    --medium: #04a314;
}

.l-4{
    --dark: #13fa26;
    --light: #48f356;
    --medium: #04a314;
}
.l-5{
    --light: #13fa26;
    --dark: #48f356;
    --medium: #04a314;
}
.l-6{
    --medium: #13fa26;
    --dark: #48f356;
    --light: #04a314;
}
.l-7{
    --medium: #13fa26;
    --light: #48f356;
    --dark: #04a314;
}
.l-8{
    --medium: #13fa26;
    --light: #48f356;
    --dark: #04a314;
}
.l-9{
    --dark: #13fa26;
    --light: #48f356;
    --medium: #04a314;
}
.l-10{
    --light: #13fa26;
    --medium: #48f356;
    --dark: #04a314;
}
.l-11{
    --medium: #13fa26;
    --dark: #48f356;
    --light: #04a314;
}

@keyframes color-animation {
    0%    {color: var(--dark)}
    32%   {color: var(--dark)}
    33%   {color: var(--medium)}
    65%   {color: var(--medium)}
    66%   {color: var(--light)}
    99%   {color: var(--light)}
    100%  {color: var(--dark)}
}

.navbar{
    font-size: 1.1rem;
    position: sticky;
    top: 0%;
}

.carousel-container{
    width: 70%;
    margin: auto;
    padding-top: 3%;
}

.carousel-item img[src*="project-2"]{
    max-height: 18em;
    min-height: 5em;
}
.card-container{
    color:black;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    flex-wrap: wrap;
}
.card-title {
    font-size: 1em;
}
.card-text{
    font-size: 0.5em;
}
.nav-link.active{
    font-size: 1.4em;
    margin: 0%;
    display: flex;
    align-items: center;
}
.interests-container{
    width: 65%;
    margin: auto;
    padding-top: 3%;
}
.table{
    color: white;
    border-color: var(--medium);
    border-radius: 12px;
}


.interests-container tbody{
    border-color: var(--medium);
    color: var(--medium);
}
.interests-container tbody tr{
    color: white;
}

.bi{
    font-size: 1.2em;
    color: var(--light);
}

.table tr img{
    width: 50px;
}
.table tbody th{
    border-right-width: 1px;
}

.table thead tr th.col-1{
    border-right: solid 1px;
    border-color: var(--medium);
    
}

.page-header{
    padding-left: 2%;
    padding-top: 2%;
    font-size: 0.9em;
}

.page-header .letters{
    margin-right: -6px;
}

.btn-primary{
    background-color: white;
    color: var(--dark);
}
.btn-primary:hover{
    background-color: black;
    border-color: black;

}
.card{
    background-color: var(--dark);
    color: white;
    border-color: black;
    border-width: 2px;
}